{% extends "iframebase.html" %}
{% block content %}
  <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" type="text/css" media="screen" charset="utf-8" />
  <div class="main">
        	{% if not user.is_authenticated %}Please <a href="/accounts/login/?next=/book/codeform">login</a> {% endif %}
			{% if user.is_authenticated %} 
			<h3>Notepad </h3> <br>	<br>			
<!-- Comment form  -->
		{% if not annotation %} 
            <form action="{% url book.views.annotations subtopic.topic.course.id subtopic.topic.id subtopic.pk %}" method="POST">{% csrf_token %}
                <div id="message">
                          Notes:<br><textarea name="annotation" rows="8" cols="37">#enter notes here</textarea><br><br>
                    </div><!-- end message -->
                <div id="submit"><input type="submit" value="Save"></div>
            </form>
       {% endif %}
       {% if annotation %} 
            <form action="{% url book.views.annotations subtopic.topic.course.id subtopic.topic.id subtopic.pk %}" method="POST">{% csrf_token %}
                <div id="message">
                          Notes:<br><textarea name="annotation" rows="8" cols="37">{{ annotation }} </textarea><br><br>
                    </div><!-- end message -->
                <div id="submit"><input type="submit" value="Save"></div>
            </form>
			{% endif %}
	{% endif %} 
    </div>
{% endblock %}
