{% extends "iframebase.html" %}
{% block content %}
  	 <link rel="stylesheet" href="{{MEDIA_URL}}css/iframe.css" type="text/css" media="screen" charset="utf-8" />
        <script src="{{MEDIA_URL}}js/jquery.min.js"></script>
     <script type="text/javascript" src="{{MEDIA_URL}}js/allowtab.js"></script>   
      <script type="text/javascript" src="{{MEDIA_URL}}syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}syntaxhighlighter/scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}syntaxhighlighter/styles/shCoreDefault.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
	 
        	{% if not user.is_authenticated %}Please <a href="/accounts/login/?next=/book/codeform">login</a> {% endif %}
			{% if user.is_authenticated %} 
			{%if script_response %}{{script_response}}{% endif %}
			{%if question %}
			 No response	
			{% endif %}
	{% endif %}
{% endblock %}
